RewriteEngine on

RewriteRule ^surls/$ /surls.php [R=301]

RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} -f
RewriteRule ^surls/([^/]*)$ surls.php?alias=$1

RewriteCond %{DOCUMENT_ROOT}/surls/%{REQUEST_URI} -f
RewriteRule .* surls.php?alias=$0
